#include <assert.h>
#include <inttypes.h>
#include <limits.h>
#include <stdbool.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>

#include "array.h"
#include "commons.h"
#include "math.h"
#include "map.h"
#include "string.h"

constexpr size_t BUFFER_LENGTH = 1024;

i64 part1(char *filename) {
  FILE *fp = fopen(filename, "r");
  if (fp == nullptr) {
    fprintf(stderr, "Error: could not open file %s\n", filename);
    return 1;
  }

  i64 sum = 0;

  char buffer[BUFFER_LENGTH] = {};
  while (fgets(buffer, BUFFER_LENGTH, fp)) {
    size_t buffer_len = strlen(buffer) - 1;
    buffer[buffer_len] = '\0';
  }
  fclose(fp);

  printf("sum = %" PRId64 "\n", sum);

  return sum;
}

int main(void) {
  assert(part1("../../inputs/2023/day$day/sample") == 0);
  //assert(part1("../../inputs/2023/day$day/data") == 0);
  //assert(part2("../../inputs/2023/day$day/sample") == 0);
  //assert(part2("../../inputs/2023/day$day/data") == 0);

  return 0;
}
