#include <stdbool.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>

#include "array.h"
#include "commons.h"
#include "math.h"
#include "map.h"
#include "string.h"

i64 part1(StringArray *lines) {
  //debugf(string_array_print_raw, lines);
  //debug("\n");
  i64 result = 0;

  for (size_t l = 0; l < lines->size; l++) {
    char *line = lines->items[l];
    //size_t line_len = strlen(line);
    //debug("%s: %zu\n", line, line_len);
  }

  return result;
}

int main(void) {
  test_case(day$day, part1, sample, 0);
  //test_case(day$day, part1, data, 0);
  //test_case(day$day, part2, sample, 0);
  //test_case(day$day, part2, data, 0);

  return 0;
}
